# ------------------------
# VAGRANT
# ------------------------
# ------------------------
# VAGRANT
# ------------------------
.vagrant/                 # Carpeta local de Vagrant (nivel actual)
**/.vagrant/              # Cualquier .vagrant en subcarpetas
.vagrant.d/               # Config local de Vagrant (si se llegara a versionar)
Vagrantfile.local         # Overrides locales de Vagrant
*.box                     # Archivos de imágenes de Vagrant (pesados)

# ------------------------
# VIRTUALBOX
# ------------------------
*.log
*.vdi              # Discos virtuales
*.vmdk
*.vhd
*.vagrantfile.swp  # Archivos swap temporales de Vagrantfile

# ------------------------
# SISTEMA (Linux/Mac/Win)
# ------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*

# ------------------------
# EDITORES
# ------------------------
# Visual Studio Code
.vscode/
*.code-workspace

# JetBrains / IntelliJ
.idea/

# ------------------------
# JAVA (build artifacts)
# ------------------------
out/
target/

# ------------------------
# VARIOS
# ------------------------
*.tmp
*.swp
*.bak
*.old

# ------------------------
# TP2 artefactos generados
# ------------------------
TP2/**/codigos/servidor.log
TP2/**/codigos/resultadoCliente.txt
TP2/**/codigos/resultadoServidor.txt
TP2/**/codigos/server_ip
TP2/**/codigos/server_port
TP2/TP2EJ4/.vagrant/machines/vm1/virtualbox/action_cloud_init
TP2/TP2EJ4/.vagrant/machines/vm1/virtualbox/synced_folders
.gitignore
TP2/TP2EJ4/.vagrant/machines/vm1/virtualbox/vagrant_cwd
TP2/TP2EJ4/.vagrant/machines/vm1/virtualbox/private_key
TP2/TP2EJ4/.vagrant/machines/vm1/virtualbox/index_uuid
TP2/TP2EJ4/.vagrant/machines/vm1/virtualbox/id
TP2/TP2EJ4/.vagrant/machines/vm1/virtualbox/disk_meta
.gitignore
TP2/TP2EJ4/.vagrant/machines/vm1/virtualbox/box_meta
TP2/TP2EJ4/.vagrant/machines/vm1/virtualbox/action_set_name
.gitignore
TP2/TP2EJ4/.vagrant/machines/vm1/virtualbox/action_provision
TP2/TP2EJ4/.vagrant/machines/vm1/virtualbox/creator_uid
TP2/TP2EJ4/.vagrant/rgloader/loader.rb
TP2/TP2EJ4/.vagrant/machines/vm2/virtualbox/action_cloud_init
TP2/TP2EJ4/.vagrant/machines/vm2/virtualbox/action_provision
TP2/TP2EJ4/.vagrant/machines/vm2/virtualbox/action_set_name
TP2/TP2EJ4/.vagrant/machines/vm2/virtualbox/box_meta
TP2/TP2EJ4/.vagrant/machines/vm2/virtualbox/creator_uid
TP2/TP2EJ4/.vagrant/machines/vm2/virtualbox/disk_meta
TP2/TP2EJ4/.vagrant/machines/vm2/virtualbox/id
TP2/TP2EJ4/.vagrant/machines/vm2/virtualbox/index_uuid
TP2/TP2EJ4/.vagrant/machines/vm2/virtualbox/private_key
TP2/TP2EJ4/.vagrant/machines/vm2/virtualbox/synced_folders
TP2/TP2EJ4/.vagrant/machines/vm2/virtualbox/vagrant_cwd
